.Navigation{
    .nav-container-1{
        .nav-icons {
            .nav-container-1-icons{
                position: relative;
                top: 12px;   
            }
        }
    }

    .nav-container-2{
        display: none;
      }
}

@media (min-width: 960px){
    .Navigation{
      .nav-container-1{
       display: none;
    }

    .nav-container-2{
      display: contents;
        .nav-container-2-nav-1{
            height: 20%;
            background-color: var(--nav-background-color);
            padding: 0 38px 0 36px;
            .nav-container-2-nav-1-logos{
                .nav-container-2-nav-1-icons{
                   ul{
                    li{
                        list-style-type:none ;
                        height: 28px;
                        a{ 
                            display: inline-block;
                            position: relative;
                            top: -25px;
                            margin-left: 19px;
                          }
                          &:hover{
                            color: var(--icon-hover-color);
                          }
                      }
                      margin-left: -50px;
                   }
                }

            }
            .nav-container-2-nav-1-text{
                ul{
                    margin-right: 25px;
                    padding: 5px;
                    li{
                      display: inline-block;
                      text-decoration: none;
                      padding: 5px;
                      a{
                        color: var(--font-color);
                        text-decoration: none;
                        margin: 12px;
                        &:hover{
                          color: var(--hover-color);
                        }
                      }
                    }
                  }
            }

        }

        .nav-container-2-nav-2{
            .nav-container-2-nav-2-content{
                .logo{
                    margin-left: 25px;
                }
            }
            .nav-container-2-nav-2-icons{
                .nav-search{
                    input{
                    // width: 50%;
                    padding: 12px 48px;
                    margin-top: 20px;
                    border-radius: 100px;
                    border: none;
                    background-color: var(--icon-hover-color);
                    margin-left: 140px;
                    &::placeholder{
                        position: relative;
                        left: 10%;
                        top: 2px;
                        color: var(--icon-hover-color);
                        font-size: 18px;
                      }
                      &:hover{
                        background-color: var(--icon-hover-color-darker);
                              }
                       }
                    
                    .search-icon{
                        position:relative;
                        left: -56%;
                        top: 8px;
                        &:hover{
                            border-radius: 50%;
                            background-color: var(--icon-hover-color-darker);
                     
                        }
                    }
                }
                .nav-others{
                    margin: 15px 40px 0px 0px ;
                }
            }
        }
    }

 }
}